
    .caption {
        font-size: 20px; 
        margin: 10px;
    }
    .num{
       display: flex inline-block;
        box-shadow: 5px 5px 5px;
        border-radius: 5px;
        margin: 10px;
        }
        
    #result{
        color: red;
        font-size: 20px;
    }

    #btn{
        background-color: rgb(251, 211, 211);
        color: rgb(0, 0, 0);
        padding: 10px;
        border-radius: 5pxfffff  
    }
    #btn:hover{
    
        background-color: rgb(122, 106, 224);
        color: white;
    }
#btn:active{
    background-color: rgb(122, 106, 224);
    color: black;
    top: 2px;

}

